body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px; /* Aumentamos el radio de los bordes para un aspecto más suave */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Añadimos una sombra suave */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
button,
select {
    width: calc(100% - 22px); /* Ajustamos el ancho teniendo en cuenta el padding y border */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    border: none;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
    color: #666;
}

header {
    background-color: #3b5998; /* Color característico de Facebook */
    color: #fff;
    padding: 10px;
}

#nav {
    display: flex;
    align-items: center;
}

#logoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#logo {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

#companyName {
    font-size: 24px;
}

#additionalInfo, #socialMedia {
    margin-top: 40px;
    background-color: #f9f9f9; /* Agregamos un color de fondo suave */
    padding: 20px; /* Añadimos espacio alrededor del contenido */
    border-radius: 8px; /* Redondeamos los bordes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadimos una sombra suave */
}

#additionalInfo h2, #socialMedia h2 {
    margin-bottom: 10px;
    color: #333; /* Cambiamos el color del título para que destaque */
}

#additionalInfo p {
    font-size: 16px;
    line-height: 1.6;
    color: #666; /* Cambiamos el color del texto para mayor contraste */
}

#additionalInfo ul, #socialMedia ul {
    list-style-type: none;
    padding: 0;
}

#additionalInfo ul li, #socialMedia ul li {
    margin-bottom: 5px;
}

#socialMedia ul li {
    display: inline-block;
    margin-right: 10px;
}

#socialMedia ul li img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

#socialMedia ul li img:hover {
    opacity: 0.7;
}

#mostrarAreasBtn,
#mostrarFormularioBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
}

#mostrarAreasBtn:hover,
#mostrarFormularioBtn:hover {
    background-color: #45a049;
}
